@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.html{
    zoom:80%;
}

.wrapper{

    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #7450c8, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.7s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #4158d0;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }


















.main{

    background-image: url(desktop.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-heading{
    display: none;
}

.after-main{
    display: none;
    background-image: url(aftermain.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.after-main-container{
    display: none;
    width: 80vw;
    height: 40vw;
    margin: auto;
    background-color: white;
}




.tag{
    display: none;
}
#logo{
    display: none;
    width: 50vw;
}
.up-logo{
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.big-main{
     background-image: url(aftermain.png); 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#whoarewe{
    text-align: center;
    font-size: 6vw;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1vw;
    color: rgb(6, 12, 63);
    
}
.set{
    display: flex;
    padding: 30px;
    margin-left: 40px;
}
.image{
    margin-top: -50px;
}


.text123{
    background-image: url(funky.jpg);
    font-size: 2.9vw;
    font-family: 'Patrick Hand', cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 0.2vw;
    padding: 17px;
   
    
}

.text p{
    font-size: 2.9vw;
    font-family: 'Patrick Hand', cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 0.2vw;
    padding: 17px;
    margin-top: 100px;
    margin-left: 40px;
}
.text p span{
    color: #ff0291;
}

.text p span{
    font-size: 2.9vw;
    font-family: 'Patrick Hand', cursive;
    color: rgb(0, 0, 0);
    letter-spacing: 0.2vw;
    padding: 17px;
    margin-top: 100px;
    margin-left: 0px;
}

.services{
    /* background-image: url(img/aftermain.png); */
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#what{
    text-align: center;
    font-size: 6vw;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1vw;
    color: rgb(6, 12, 63);
    
}

.flex{
    display: flex;
    flex-wrap: nowrap;
}
.card{
    min-width: 400px;
    height: 500px;
    margin: 20px;
    margin-left:  70px;
    background-color: white;
    border-radius: 40px;
    display: grid;

}

#intern{
    text-align: center;
    font-size: 3vw;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 0.6vw;
    color: #ffffff;
    margin-top: -460px;
    text-transform: uppercase;
}

#vol{
    text-align: center;
    font-size: 3vw;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 0.6vw;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
}

#course{
    text-align: center;
    font-size: 3vw;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 0.6vw;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
}
#internships{
    background-image: url(col2.png)
   ;
}
#Volunteer{
    background-image: url(col3.png);
}
#courses{
    background-image: url(col1.png);
    
}

#card1btn{
    margin-top: 440px;
    margin-left: 120px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 150px;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    background-color: #000baa;
    color: white;
    letter-spacing: 0.3vw;
    cursor: pointer;
}
.btn{ 
    margin-left: 120px; 
    margin-top: 360px;  
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 150px;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    background-color: #000baa;
    color: white;
    letter-spacing: 0.3vw;
    cursor: pointer;

}

.btn:hover{
    opacity: 0.9;
}

#card1btn:hover{
    opacity: 0.9;
}

.who{
    display: flex;
    margin: 20px;
}
.students{
    display: grid;
    width: 50%;
    height: 900px;
    margin: 20px;
}

.org{
    display: grid;
    width: 50%;
    margin: 20px;
    height: 900px;
}

#who{
    text-align: center;
    font-size: 5.6vw;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1vw;
    color: rgb(6, 12, 63);
    
}
.photo{
   margin-left: 200px;
   margin-top: 20px;
}
.picture{
    margin-left: 170px;
 }

 .title-who{
    margin-left: 200px;
    font-size: 4vw;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1vw;
    color: rgb(6, 12, 63);
    margin-top: -17px;
    
}

#comp{
    margin-top: 36px;
    margin-left: 80px;
}

.pola{
    font-size: 30px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Patrick Hand', cursive;
    line-height: 50px;
}

.who-button{
    margin-top: 0px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 150px;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    background-color: #4126d6;
    color: white;
    letter-spacing: 0.3vw;
    cursor: pointer;
    margin-left: 300px;
}

.op-button{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 300px;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    background-color: #4126d6;
    color: white;
    letter-spacing: 0.3vw;
    cursor: pointer;
    margin-left: 200px;
}

.in-vo h1{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    color: #13013d;
    font-size: 4vw;
    letter-spacing: 0.3vw;
    margin-top: 50px;
}
.flexbox{
    display: flex;
    width: 90%;
    height: max-content;
    flex-wrap: wrap;
    margin: auto;
}
.c1{
    background: blueviolet;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 40px;
  

}

#car1{
    background-image: url(TGS2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#car2{
    background-image: url(TCG2.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#car3{
    background-image: url(LA2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#car4{
    background-image: url(LB2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#car5{
    background-image: url(IM2.png);
     background-size: cover;
    background-repeat: no-repeat;
}


#ss_survey_widget{
    margin: auto;
    margin-top: 20px;
    height: 700px;

}

.hiring{
    width: 100%;
    height: max-content;
    background-color: #721ce3;
    position: fixed;

}
.hiring h1{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: white;
    letter-spacing: 0.3vw;
    padding: 10px;
    cursor: pointer;

}
















/* MOBILE DEVICES */




@media screen and (max-width:480px) {

    .main{
        background-image: url(min-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vw;
    }
    h1{
        display: block;
        font-size:  8vw;
        text-align: center; 
       font-family: 'Patrick Hand', cursive;
        letter-spacing: 0.7vw;
    }
    h1 span{
        color: rgb(253, 142, 142);
    }
    .after-main{
        background-image: url(aftermain.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 960vw;
        display: block;
    }
    
.after-main-container{
    display: block;
    width: 80vw;
    height: 140vw;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}

.s-who{
    display: block;
    color: rgb(6, 12, 63);

}

.tag{
    display: block;
    font-size: 5vw;
    letter-spacing: 0.4vw;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 15px;
    color: rgb(236, 220, 220);
}

#logo{
    display: block;
    width: 50vw;
}
.up-logo{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.big-main{
    display: none;
    background-image: url(aftermain.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.services{
    display: none;
}
.who{
    display: none;
}
.img{
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
}
.s-para{
    display: block;
    font-size:  5vw;
    text-align: center; 
    font-family: 'Patrick Hand', cursive;
    padding: 20px;

}
#who{
    display: none;
}

.v-card{
    display: block;
    width: 80vw;
    height: 100vw;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    background-image: url(full\ width.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.s-title{
    color: rgb(255, 255, 255);

}
.s-btn{
   
    margin-left: 100px;
    padding: 10px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    width: 110px;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    background-color: #8a4f4f;
    color: white;
    letter-spacing: 0.3vw;
    cursor: pointer;
}

#cora-2{
    background-image: url(volunteer.png);
}
#cora-3{
    background-image: url(coursess.png);
}

/* who can join */

.bhola{
    padding: 15px;
    font-size: 5vw;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    color: white;
    line-height: 30px;

}
#wat{
    color: #ffffff;
}

/* opportunities */

.opportnities{
   display: none;
}
.div{
    display: block;
    background-image: url(min-bg.png); 
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
    height: 120vh;
}
.div h1{
    font-size: 10vw;
    text-transform: uppercase;
}
.cards-s{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.rec{
    border-radius: 40px;
    background-color: #fff;
    width: 80vw;
    height: 80vw;
    margin: 30px;
   
}
#rec1{
    background-image: url(s-cards1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#rec2{
    background-image: url(s-cards-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.c1{
    background: blueviolet;
    height: 90vw;
    width: 90vw;
    margin: 20px;
    border-radius: 40px;
    display: block;

}






} 



/* TAB DEVICES */


@media screen and (max-width:768px) and (min-width:481px) {

    .main{
        background-image: url(min-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vw;
    }
    h1{
        display: block;
        font-size:  6vw; 
        text-align: center;
        font-family: 'Balsamiq Sans', cursive;
        letter-spacing: 0.7vw;
        color: rgb(255, 255, 255);
    }
    h1 span{
        color: rgb(255, 163, 163);
    }
    .after-main{
        background-image: url(aftermain.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900vw;
        display: block;
    }
    .after-main-container{
        display: block;
        width: 80vw;
        height: 110vw;
        margin: auto;
        background-color: white;
        border-radius: 20px;
    }

    .tag{
        display: block;
        font-size: 5vw;
        letter-spacing: 0.4vw;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: 15px;
        color: rgb(236, 220, 220);
    }
    #logo{
        display: block;
        width: 50vw;
    }
    .up-logo{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }
    .big-main{
        display: none;
        background-image: url(aftermain.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .services{
        display: none;
    }
    .who{
        display: none;
    }
    


    /* just tab things */

    .s-who{
        display: block;
        color: rgb(6, 12, 63);
    
    }
    
    .tag{
        display: block;
        font-size: 5vw;
        letter-spacing: 0.4vw;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: 15px;
        color: rgb(236, 220, 220);
    }
    
    #logo{
        display: block;
        width: 50vw;
    }
    .up-logo{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }
    
    .big-main{
        display: none;
        background-image: url(aftermain.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .services{
        display: none;
    }
    .who{
        display: none;
    }
    .img{
        display: flex;
        -ms-flex-align: center;
        justify-content: center;
    }
    .s-para{
        display: block;
        font-size:  5vw;
        text-align: center; 
        font-family: 'Patrick Hand', cursive;
        padding: 20px;
    
    }
    #who{
        display: none;
    }
    
    .v-card{
        display: block;
        width: 80vw;
        height: 100vw;
        margin: auto;
        background-color: white;
        border-radius: 20px;
        background-image: url(full\ width.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .s-title{
        color: rgb(255, 255, 255);
    
    }
    .s-btn{
       
        margin-left: 160px;
        padding: 10px;
        font-size: 14px;
        border-radius: 15px;
        border: none;
        width: 110px;
        font-family: 'Patrick Hand', cursive;
        text-transform: uppercase;
        background-color: #8a4f4f;
        color: white;
        letter-spacing: 0.3vw;
        cursor: pointer;
    }
    
    #cora-2{
        background-image: url(volunteer.png);
    }
    #cora-3{
        background-image: url(coursess.png);
    }
    
    /* who can join */
    
    .bhola{
        padding: 15px;
        font-size: 5vw;
        font-family: 'Patrick Hand', cursive;
        text-align: center;
        color: white;
        line-height: 40px;
    
    }
    #wat{
        color: #ffffff;
        margin-top: 40px;
    }
    
    .s-students img{
        width: 500px;

    }
    .s-org img{
        width: 500px;


    }
    .opportnities{
        display: none;
     }
    
  

    
}


/* Opportunities */

.s-op{
    display: none;
}
.opportnities{
    background-image: url(RENAME.png);
    width: 100%;
    height: 180vh;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.two-cards{
    display: flex;
    margin: 20px;
}
.card-n-1{
    width: 700px;
    height: 500px;
    margin: 20px;
    background-image: url(INERNSHIPSVOLUNTEERS.png);
    border-radius: 50px;
}
.card-n-2{
    width: 700px;
    height: 500px;
    margin: 20px;
    background-image: url(INERNSHIPSVOLUNTEERS\ \(1\).png);
    border-radius: 50px;
}
.op-btn{
    margin-top: 430px;
    margin-left: 250px;
    padding: 10px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    width: 150px;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    background-color: #811dd3;
    color: white;
    letter-spacing: 0.3vw;
    cursor: pointer;
}
.div{
    display: none;
}
.container-tgs{
    width: 50%;
    height: 1300px;
    margin: auto;
    background-image: url(aftermain.png);
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 5px 5px 30px rgb(122, 122, 122);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}
.name h1{
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 4vw;
    margin-top: 30px;
}
#tgs-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin-left: 300px;
}
.about h1{
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
    padding: 30px;
    font-size: 2vw;
    margin-top: 30px;
}
.about p{
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
    padding: 30px;
    font-size: 2vw;

}
.services-tgs h1{
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
    padding: 30px;
    font-size: 2vw;
    text-transform: uppercase;

}
.services-tgs p{
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
    padding: 30px;
    font-size: 2vw;

}
.Benifits-tgs h1{
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
    padding: 30px;
    font-size: 2vw;
    text-transform: uppercase;

}
.Benifits-tgs p{
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
    padding: 30px;
    font-size: 2vw;

}
.apply{
    display: flex;
    flex-direction: column;
    margin: auto; 
}
.butt-tgs{
    margin: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: rgb(95, 38, 201);
    color: rgb(255, 255, 255);
    margin-top: -20px;
    width: 100px;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    font-size: 1vw;
}
.butt-tgs:hover{
    opacity: 0.8;
}
#about-tgs{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 6vw;
    letter-spacing: 0.7vw;
    color: rgb(43, 25, 94);
}
#icon{
    padding: 20px;
    position: fixed;
    color: black;
}
.container-tcg{
    width: 50%;
    height: 1400px;
    margin: auto;
    background-image: url(aftermain.png);
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 5px 5px 30px rgb(122, 122, 122);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width:768px) and (min-width:481px){
    .container-tgs{
        width: 80%;
        height: 1300px;
        box-shadow: 5px 5px 30px rgb(122, 122, 122);
        margin-top: 10px;

    }
    .about h1{
        font-size: 6vw;

    }
    .name h1{

        font-size: 7vw;
        color: white;
        font-family: 'Patrick Hand', cursive;
        text-align: center;
        font-size: 10vw;
        margin-top: 30px;
    }
    .about-tgs{
        color: rgb(0, 0, 48);
    }
    .about h1{
        color: white;
        font-family: 'Patrick Hand', cursive;
        text-align: left;
        padding: 30px;
        font-size: 5vw;
        margin-top: 30px;
    }
    .about p{
        font-size: 3vw;
    
    }
    .services-tgs h1{
        font-size: 6vw;
    }
    .services-tgs p{
        font-size: 3vw;
    }
    .Benifits-tgs h1{
        font-size: 6vw;
    
    }
    .Benifits-tgs p{
        font-size: 3vw;
    }
    .logo-teenternz{
        width: 90%;
        height: 200px;
        display: flex;    
        margin: auto
    }
    .logo-teenternz img{
        margin: auto
    }
    .main-image{
        display: none;
    }
    
}

.flex-baby{
    display: flex;
 margin: auto;
    width: 40vw;
    height: max-content;
    flex-direction: column;
    margin-top: 0;
}
.txt-alien h1{
    text-align: center;
    color: rgb(10, 0, 56);
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 5vw;
    margin-top: 0;
    letter-spacing: 0.5vw;
}
.IMG img{
  padding: 100px;
  width: 40vw;
}
.flex-s{
    display: none;
}
@media screen and (max-width: 480px){
    .flex-baby{
        display: none;
    }
    .flex-s{
        display: block;
        width: 90%;
        height: 600px;

        margin: auto;
    }
    .img-s{
        padding: 50px;
    }
    .img-s img{
        width: 70vw;
    }
    .main-heading{
        color: #13013d
    }
    
    .logo-teenternz{
        width: 90%;
        height: 200px;
        display: flex;    
        margin: auto
    }
    .logo-teenternz img{
        margin: auto
    }
    .main-image{
        display: none;
    }

}


/* todo list */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}

.wrapper-2{
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper-2 header{
  font-size: 30px;
  font-weight: 600;
}
.wrapper-2 .inputField{
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputField input:focus{
  border-color: #8E49E8;
}
.inputField button{
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8E49E8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button:hover,
.footer button:hover{
  background: #721ce3;
}
.inputField button.active{
  opacity: 1;
  pointer-events: auto;
}
.wrapper-2 .todoList{
  max-height: 250px;
  overflow-y: auto;
}
.todoList li{
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.todoList li .icon{
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todoList li:hover .icon{
  right: 0px;
}
.wrapper-2 .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8E49E8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}
#task{
    font-size: 5vw;
    color: white;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}
.full-bg{
    width: 100%;
    height: 100vh;
    background: url(aftermain.png);
    font-family: 'Patrick Hand', cursive;
}
.main-image img{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .div{
        display: block;
        background-image: url(min-bg.png); 
        background-repeat: no-repeat;
        background-size: cover;  
        width: 100%;
        height: 170vh;
    }
    .div h1{
        font-size: 10vw;
        text-transform: uppercase;
        color: #020c3b;
    }
    .cards-s{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .rec{
        border-radius: 40px;
        background-color: #fff;
        width: 80vw;
        height: 80vw;
        margin: 30px;
       
    }
    #rec1{
        background-image: url(s-cards1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #rec2{
        background-image: url(s-cards-2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flexbox{
        display: flex;
        margin-left: -10px;
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) and (min-width:481px){
    .div{
        display: block;
        background-image: url(min-bg.png); 
        background-repeat: no-repeat;
        background-size: cover;  
        width: 100%;
        height: 230vh;
    }
    .div h1{
        font-size: 10vw;
        text-transform: uppercase;
        color: #020c3b;
    }
    .cards-s{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .rec{
        border-radius: 40px;
        background-color: #fff;
        width: 80vw;
        height: 80vw;
        margin: 30px;
       
    }
    #rec1{
        background-image: url(s-cards1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #rec2{
        background-image: url(s-cards-2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width:480px) {
    .container-tgs{
        width: 100%;
        height: max-content;
        margin: auto;
        box-shadow: 5px 5px 30px rgb(122, 122, 122);
        margin-top: 20px;

    }
    .name h1{

        font-size: 5vw;
        color: white;
        font-family: 'Patrick Hand', cursive;
        text-align: center;
        font-size: 10vw;
        margin-top: 30px;
    }
    .about-tgs{
        color: rgb(0, 0, 48);
    }
    .about h1{
        font-size: 6vw;
    }
    .about p{
        font-size: 4vw;
        padding: 30px;
    
    }
    .services-tgs h1{
        font-size: 6vw;
    }
    .services-tgs p{
        font-size: 4vw;
    }
    .Benifits-tgs h1{
        font-size: 6vw;
    
    }
    .Benifits-tgs p{
        font-size: 4vw;
    }
    .container-tcg{
        width: 90%;
        height: max-content;
        margin: auto;
        background-image: url(aftermain.png);
        border: 1px solid black;
        border-radius: 40px;
        box-shadow: 5px 5px 30px rgb(122, 122, 122);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
    }

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#register-h1{
    margin-top: -500px;
    text-align: center;
}

#rocket-logo{
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 30vw;
}

@media screen and (max-width: 480px) {
    #rocket-logo{
        width:60vw;
    }
    .apply a button{
        font-size: 3vw;
    }
    .footer{
        display: none;
    }

}

@media screen and (max-width:768px) and (min-width:481px){
    #rocket-logo{
        width:60vw;
    }
    
}
